*{
    margin: 0;
    padding: 0;
}

/* Start Nav */

.nav-logo {
    width: 200px;
    height: 90px;
    margin-left: 100px;
    /* margin-top: 10px; */
}
.nav-bar{
    float: right;
}
.nav-bar li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 30px;
}
.book-now{
    background-color: #72393a;
    padding: 10px;
    color: #ffffff !important;
    border-radius: 10px;
}
.nav-bar li a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
.nav-bar li:hover{
    transform: translateY(-10px);
    transition-duration: .7s;
}

.book-now:hover{
    background-color: #e19b9b ;
    color: #72393a !important;
    border-radius: 10px;
}
.nav{
    box-shadow: 20px 10px 30px rgb(0, 0, 0, 0.08);
}
#nav{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    height: 90px;
}
/* End Nav */

/* start bunner */

.bunner-img{
    width: 100%;
    height: 400px;
    margin-top: 90px;
    background: rgba(65, 63, 63, 0.55);
    z-index: -4;

}
.bunner{
    position: relative;
}
.bunner-container{
    position: absolute;
    top: 140px;
    z-index: 0;
    
}

.bunner-text{
   
    margin-left: 750px;
    margin-top: 70px;
    color: #4f1a1b;
}
.bunner-text p{
    text-align: left;
    color: #714041;
    margin-bottom: 10px;
}
.bunner-text input{
    width: 60%;
    margin-top: 15px;
    border: #72393a;
    border-radius: 8px 0px 0px 8px;
    padding: 10px;
    
}
.bunner-text button{
    border: #72393a;
    background-color: #72393a;
    color: #ffffff;
    border-radius: 0px 8px 8px 0px;
    padding: 10px 15px;
    
}
/* end bunner */

/* start promotion */


#promotion{
    padding-top: 80px;
    text-align: center;
    width: 80%;
    margin: auto;
}
.promotion{
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    margin-top: 30px;
    grid-gap: 30px;
}
.promotion-p{
    padding: 10px 0 0;
    color: #a16868
}
.promotion-item{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 15px 35px rgb(0, 0, 0, 0.08);
}
.promotion-hover img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
   
}

.promotion-name a{
    text-decoration: none;
    color: #72393a;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    text-align: left;
}
.promotion-item p{
    padding: 0px 20px 10px;
    text-align: left;
    color: #714041;
}
.more-promotion{
    display: inline-block;
    text-decoration: none;
    color: #e19b9b;
    background-color: #72393a;
    padding: 10px;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}
.more-promotion:hover{
    color: #72393a;
    background-color: #e19b9b;
    transform: translateY(-5px);
    transition-duration: .7s;
    overflow: hidden;
}

.promotion-item:hover {
    transform: translateY(-10px);
    transition-duration: .5s;
    box-shadow: 0px 25px 45px rgb(0, 0, 0, 0.08);
}

.promotion-hover{
    overflow: hidden;
    display: inline-block;
}
.promotion-item:hover img{
    transform: scale(1.05);
    transition-duration: 0.7s;
}
.view-more{
    text-decoration: none;
    color: #72393a;
    margin-top: 400px;
    display: inline-block;
}
.view-more:hover{
    transform: translateY(-10px);
    transition-duration: .7s;
}
/* end promotion */